/* base */
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.button:hover,
button:focus {
  background-color: #404bbf;
}

/* header */
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* hero-section */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

/* another section */

.section-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.section-description {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-list-item {
  background-color: #ffffff;
}

.team-section {
  background: #f4f4fd;
}

/* footer */
.footer {
  background-color: #2e2f42;
}

.footer-description {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
